/*importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/*cores*/
:root {
  --background: #414361;
  --box: #2A2D43;
  --white-color: #fafafa;
  --green-color: #00ff40;
  --prink-color: #FF79C6;
}

/*estilização geral*/
html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilização body*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Mono', monospace, Helvetica, sans-serif;
  background-color: var(--background);
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}

h1 {
  text-align: center;
  word-wrap: break-word;
  font-size: 2.5rem;
  color: var(--white-color);
  margin-bottom: 30px;
}

.add-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

input, .btn-add {
  all: unset;
  box-shadow: inset 0 0 0 1px var(--white-color);
  height: 50px;
}

input {
  width: 100%;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--box);
  color: var(--white-color);
}

.btn-add {
  width: 50px;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  text-align: center;
  cursor: pointer;
  background-color: var(--white-color);
  font-size: 1.5rem;
}

.btn-add:hover {
  background-color: var(--green-color);
}

/*ul e li*/
.message {
  font-size: 1.125rem;
}

.tasks-ul {
  width: 100%;
  margin-top: 30px;
  list-style: none;
}

.task-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--box);
}

.task-li span {
  flex: 2;
  font-size: 1.125rem;
  margin: 0 20px;
  word-break: break-all;
}

.btn-complete, .btn-remove {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: var(--white-color);
  cursor: pointer;
  font-size: 2rem;
  color: var(--box);
}

.btn-complete:hover {
  background-color: var(--green-color);
}

.btn-remove:hover {
  background-color: var(--prink-color);
}

.completed {
  opacity: 0.6;
}

.completed span{
  text-decoration: line-through;
}

/*responsividade*/
@media (max-width: 768px) {
  .container {
    max-width: 400px;
  } 

  h1 {
    font-size: 1.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 20px;
    width: 80%;
  }

  h1 {
    font-size: 1.5rem;
  }

  input {
    font-size: 1rem;
  }

  .task-li span {
    font-size: 1rem;
  }  

  .btn-complete, .btn-remove {
    font-size: 1.25rem;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 4px;
  }
}